Source: criu
Section: admin
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends:
 debhelper (>= 9),
 dh-python,
 libnl-3-dev,
 libnet1-dev,
 libcap-dev,
 libprotobuf-dev,
 libprotobuf-c-dev,
 protobuf-c-compiler,
 protobuf-compiler,
 asciidoc
Standards-Version: 3.9.5
Homepage: http://www.criu.org/

Package: criu
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-ipaddr, python-protobuf
Description: An utility to checkpoint and restore tasks
 An utility to checkpoint/restore tasks. Using this tool, you can
 freeze a running application (or part of it) and checkpoint it to
 a hard drive as a collection of files. You can then use the files
 to restore and run the application from the point it was frozen
 at. The distinctive feature of the CRIU project is that it is
 mainly implemented in user space.

Package: criu-dbg
Architecture: amd64
Section: debug
Priority: extra
Depends: criu (= ${binary:Version}), ${misc:Depends}
Description: An utility to checkpoint and restore tasks (debug)
 An utility to checkpoint/restore tasks. Using this tool, you can
 freeze a running application (or part of it) and checkpoint it to
 a hard drive as a collection of files. You can then use the files
 to restore and run the application from the point it was frozen
 at. The distinctive feature of the CRIU project is that it is
 mainly implemented in user space.
 .
 This package contains the debugging symbols.
