#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1

# see FEATURE AREAS in dpkg-buildflags(1)
export DEB_BUILD_MAINT_OPTIONS = hardening=-all
export CFLAGS+=-fPIC
export LDFLAGS=
TMP=$(CURDIR)/debian/criu

# main packaging script based on dh7 syntax
%:
	dh $@ --parallel --with python2


override_dh_strip:
	dh_strip --dbg-package=criu-dbg


override_dh_auto_test:
	# this fails - disable and ignore for now

override_dh_install:
	#dh_install --exclude=.pyc --fail-missing
	dh_install --exclude=.pyc --fail-missing

override_dh_auto_install:
	dh_auto_install -- DESTDIR="$(TMP)" PREFIX="/usr" LIBEXECDIR="/usr/lib"
	find $(TMP)/usr/lib -type d -empty -delete
